@import 'styles/material/media-queries';
@import 'styles/material/ios-mixins';

#layout {
  .mat-sidenav-container {
    position: relative;
    padding-top: 48px;
    background-color: var(--default-color-3);
    z-index: 3;
    ::ng-deep .mat-drawer-side {
      top: 48px !important;
      position: fixed;
      height: 100%;
      left: 0;
      transition: width 0.35s ease-in-out;
      z-index: 100;
      visibility: visible !important;
      transform: translate3d(0, 0, 0) !important;
      display: block;
      border-right: 1px solid #20244b;
    }
    .mat-sidenav-content {
      padding: 0px 14px 16px;
      overflow: auto;
      margin-left: 70px !important;
      height: calc(100vh - 91px);
      position: relative;
      .gradient-overlay {
        position: absolute;
      }
      &.deal-worksheet {
        padding-bottom: 91px;
      }

      @include for-ios-touch-callout {
        height: calc(100vh - 120px);

        &.deal-worksheet {
          padding-bottom: 91px;
        }
      }

      @include for-mini-desktop {
        margin-left: 200px !important;
      }
    }
  }
  &.aside-small {
    .mat-sidenav-container {
      .mat-sidenav-content {
        margin-left: 70px !important;
        ::ng-deep.amount-tab {
          left: 70px;
        }
      }
    }
    ::ng-deep {
      .copyright {
        left: 70px;
      }
      .mat-nav-list {
        width: 70px;
        .gradient-color {
          filter: blur(48.5px);
        }
        .navbar-nav {
          &:last-of-type {
            li {
              a {
                .menu-title {
                  display: none;
                }
              }
            }
          }
          li {
            a {
              .menu-title {
                color: transparent;
                &:first-letter {
                  color: #fff;
                }
                &.hide {
                  display: none;
                }
              }
              .icon {
                margin: 0 auto;
              }
              .menu-number {
                display: none;
              }
              .arrowIcon {
                position: initial;
                padding: 0;
              }
              &.active {
                .has-submenu {
                  background: var(--menu-hover-color);
                }
              }
            }
            .sub-menu {
              display: none;
              padding: 0;
              &.show {
                display: block;
                li {
                  display: none;
                }
              }
            }
          }
        }
        .caret {
          span {
            transform: rotate(180deg);
          }
        }
        &:hover {
          width: 200px;
          transition: width 0.3s ease;
          .navbar-nav {
            &:first-of-type {
              li {
                a {
                  .menu-title {
                    display: block;
                  }
                }
              }
            }
            &:last-of-type {
              li {
                a {
                  .menu-title {
                    display: block;
                  }
                }
              }
            }
            li {
              a {
                justify-content: inherit;
                .menu-title {
                  color: #fff;

                  &.hide {
                    display: block;
                  }
                }
                .arrowIcon {
                  position: absolute;
                  padding: 0 0 0 22px;
                }
                .icon {
                  margin: 0 15px 0 0;
                }
                .menu-number {
                  display: block;
                }

                &.active {
                  .has-submenu {
                    background: none;
                  }
                }
              }
              .sub-menu {
                padding-left:0px;
                &.show {
                  display: block;
                  li {
                    display: block;
                    .sub-menu {
                      padding-left: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .trigger {
        padding: 13px 2px;
        .nav-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
